.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
}

.input {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  accent-color: var(--table-header);
}

.labelText {
  user-select: none;
}

