.button {
  background-color: var(--table-header);
  color: var(--text-color);
  border: 1px solid var(--table-border);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #3a3f57;
}


